@import '../../style-mixins.scss';

$root: '.button--theme-toggle';
$buttonHeight: 35px;
$buttonSliderWidth: 90px;
$buttonShrinkSize: 6px;

#{$root} {
  position: relative;
  font-size: 0.8rem;
  text-transform: uppercase;
  width: $buttonSliderWidth;
  height: $buttonHeight;
  border-radius: 20px;
  border-width: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color $appThemeTransitionTime;

  &:focus {
    outline: none;
  }

  #{$appLightTheme} & {
    background-color: theme-color('light','slider-background-color');
  }

  #{$appDarkTheme} & {
    background-color: theme-color('dark','slider-background-color');
  }

  .toggle {
    position: absolute;
    border-radius: $buttonHeight;
    height: calc(#{$buttonHeight} - #{$buttonShrinkSize});
    width: calc(#{$buttonHeight} - #{$buttonShrinkSize});
    transition: left $appThemeTransitionTime, background-color $appThemeTransitionTime;

    #{$appLightTheme} & {
      top: calc(#{$buttonShrinkSize} / 2);
      left: calc(#{$buttonShrinkSize} / 2);
      background-color: theme-color('light','background-color');

      +span {
        color: theme-color('light','slider-color');
        display: inline-block;
        padding-left: 10px;
      }
    }
  
    #{$appDarkTheme} & {
      top: calc(#{$buttonShrinkSize} / 2);
      left: calc((#{$buttonSliderWidth} - #{$buttonHeight}) + (#{$buttonShrinkSize} / 2));
      background-color: theme-color('dark','background-color');

      +span {
        color: theme-color('dark','slider-color');
        display: inline-block;
        padding-right: 20px;
      }
    }
  }
}