$root: ".app";
$appDarkTheme: "#{$root}--theme-dark";
$appLightTheme: "#{$root}--theme-light";
$breakpoint: 775px;

$appThemeTransitionTime: 500ms;

$theme: (
  'light': (
    'posts-color': white,
    'posts-background-color': black,
    'slider-color': white,
    'slider-background-color': black,
    'color': black,
    'background-color': white
  ),
  'dark': (
    'posts-color': black,
    'posts-background-color': white,
    'slider-color': black,
    'slider-background-color': white,
    'color': white,
    'background-color': black
  )
);

@function theme-color($primary, $key) {
  $map: map-get($theme, $primary);
  @return map-get($map, $key);
}